.beatstars {
  @apply h-full rounded-none opacity-50;

  font-family: 'Roboto', sans-serif;
  background: linear-gradient(45deg, #c52834 30%, #f32a30 90%);
  color: white;
  width: 110px;
  &:hover {
    opacity: 1;
  }
}

.airbit {
  @apply h-full rounded-none opacity-50;

  font-family: 'Roboto', sans-serif;
  background: linear-gradient(45deg, #f03eae 30%, #6925fb 90%);
  color: white;
  width: 110px;
  &:hover {
    opacity: 1;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.active {
  @apply opacity-100;
}

