@tailwind components;
@tailwind base;
@tailwind utilities;
@font-face {
  font-family: 'Aversa';
  src: url('../public/fonts/AversaVectorRegular.woff2') format('woff2'),
    url('../public/fonts/AversaVectorRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
